GOOGLE_GENAI_USE_VERTEXAI=TRUE
GOOGLE_CLOUD_PROJECT=your-project-id
GOOGLE_CLOUD_LOCATION=us-central1
RESOURCES_BUCKET=your-project-id-bucket
MODEL=gemini-2.5-flash
SEARCH_ENGINE_ID=paint-search_your_search_engine_id
